{% extends "../layouts/default.swig" %}


{% block breadcrumb %}
<div id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <ul>
                <li><a href="/distribution">sales &amp; distribution</a></li>
            </ul>
        </div>
    </div>
</div>

{% if data.notification %}
  <div id="notification" style="margin-top: 0px;">
	  <div class="container">
		  <div class="row">{{ data.notification.text | raw }}</div>
	  </div>
  </div>
{% endif %}
{% endblock %}



{% block content %}
<div class="row distro" id="about_text">
    <div cass="large-12 columns">
        <div class="row">
            <h1>Sales and Distribution</h1>
<!--
            <h3>A sub heading that you might want to use</h3> -->
            <span class="small_line"></span>

            {{ data.page.content | raw }}
        </div>
    </div>
</div>

{% endblock %}
