
{% extends "../layouts/default.swig" %}

{% block bodyclass %}fc-prize{% endblock %}

{% block breadcrumb %}
<div id="breadcrumb">
    <div class="row">
        <div class="large-12 columns">
            <ul>
                <li><a href="/prizes">Prize</a></li>
            </ul>
        </div>
    </div>
</div>

{% if data.notification %}
  <div id="notification" style="margin-top: 0px;">
	  <div class="container">
		  <div class="row">{{ data.notification.text | raw }}</div>
	  </div>
  </div>
{% endif %}
{% endblock %}


{% block content %}

<div class="row">
    <div cass="large-12 columns">

        <div class="row">
			{% for prize in data.prizes %}
			<div class="large-6 columns">
				<div class="fc-prize__navigation-unit">
					<a href="/prizes/{{ prize.key }}"><img class="fc-prize__navigation-unit--img" src="{{ prize.images.detail['secure_url'] }}" alt=""  /></a>

					<p class="fc-prize__navigation-unit--copy">{{ prize.teaser.about }}</p>

					<a href="/prizes/{{ prize.key }}" class="fc-prize__navigation-unit--button button" data-type="all">Enter the {{ prize.name }}</a>
				</div>
			</div>
			{% endfor %}
        </div>

    </div>
</div>


{% endblock %}
