{% extends "../layouts/default.swig" %}

{% block bodyclass %}product{% endblock %}

{% block breadcrumb %}
	<div id="breadcrumb">
	    <div class="row">
	        <div class="large-12 columns">
	            <ul>
	                <li>subscribe</li>
	            </ul>
	        </div>
	    </div>
	</div>

	{% if data.notification %}
	  <div id="notification" style="margin-top: 0px;">
		  <div class="container">
			  <div class="row">{{ data.notification.text | raw }}</div>
		  </div>
	  </div>
	{% endif %}
{% endblock %}

{% block content %}
<div class="row subscriptions" id="about_text">
    <div cass="large-12 columns">
        <h1>Subscribe to Fitzcarraldo Editions</h1>
        <span class="small_line"></span>

        {{ data.page.content | raw }}

        <div class="row push__down">
            <div class="number_circle number_1"><span>1</span></div>

            <div class="large-4 columns subs_panel">
                <div class="subs_cont">
                    <h4>Fiction</h4>
                    <span class="small_line"></span>
                    <p>{{ data.page.additionalOne }}</p>
                </div>
                <div class="button large-12 columns" data-type="fiction">Choose subscription</div>

            </div>
            <div class="large-4 columns subs_panel">
                <div class="subs_cont">
                    <h4>Essays</h4>
                    <span class="small_line"></span>
                    <p>{{ data.page.additionalTwo }}</p>
                </div>
                <div class="button large-12 columns" data-type="essays">Choose subscription</div>
            </div>
            <div class="large-4 columns subs_panel">
                <div class="subs_cont">
                    <h4>Fiction &amp; Essays</h4>
                    <span class="small_line"></span>
                    <p>{{ data.page.additionalThree }}</p>
                </div>
                <div class="button large-12 columns" data-type="all">Choose subscription</div>
            </div>
        </div>

    </div>
</div>

<div class="row planadditions" id="planadditions" data-equalizer>
	<div class="large-6 columns" data-equalizer-watch>
        <div class="planadditions__container">
            <div class="number_circle"><span>2</span></div>
    		<label>How many books would you like to receive?</label>
    		<div class="radios">
                {% for plan in data.subscriptionPlans %}
                <div>
                	<input type="radio" name="book_number" data-id="{{ plan.id }}" id="plan-{{ plan.id }}"><label for="plan-{{ plan.id }}">{{ plan.title }} - <span>£{{ plan.prices.uk }}</span></label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

	{# <div class="large-4 middle columns" data-equalizer-watch>
        <div class="planadditions__container">
            <div class="number_circle"><span>3</span></div>
            <label>Choose your starting book
	            <select id="starting-book" disabled>
	            </select>
            </label>
       </div>
	</div> #}

	<div class="large-6 columns" data-equalizer-watch>
        <div class="planadditions__container">
	       <div class="number_circle"><span>3</span></div>
           <label>Add to your basket
                <div class="button add-to-basket" disabled="disabled">Add subscription</div>
           </label>
        </div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script>

	var $parent = $('#planadditions'),
		$child = $parent.find('.large-4');

	//click subscription button
	$('#about_text').find('.button').on('click', function(){
		//make first box active
		$parent.find('.large-6').eq(0).addClass('active');
		var $id = $(this).attr('data-id');


		$('.subs_panel').removeClass('active');
		$(this).parents('.subs_panel').addClass('active').removeClass('deactivated');

		//give unselected opacity
		$('.subs_panel').each(function(){
			if(!$(this).hasClass('active')){
				$(this).addClass('deactivated');
			}
		});
	});

	//make next box usable off change event
	function activateNext(dd, event){
		if(dd.parents('.large-6').hasClass('active')) {
			dd.parents('.large-6').next().addClass('active');
            dd.parents('.large-6').next().find('.button').removeAttr('disabled');
		} else {
			dd.attr("checked", false);
			dd.removeAttr("disabled");
			event.preventDefault();
			return false;
		}
	}

	$parent.find('input:radio').change(function(e){
		activateNext($(this), e);
	});

	$parent.find('select').change(function(e){
		activateNext($(this), e);
	});



    $('.add-to-basket').on('click', function(e) {
        var redirect = function() { window.location.href = "/basket" };

		console.log($('input[name=book_number]:radio:checked').data('id'));

        Basket.addItem(
            'subscription',
            $('input[name=book_number]:radio:checked').data('id'),
            1,
            redirect,
            $('.subs_panel.active h4').text()
        );

        e.preventDefault();
    });

</script>
{% endblock %}
