//author css

a:active, a:focus {
   color: #0033a0;
}

.product #fitzWrapper .alphabet_letters ul {
   list-style-type: none;
   width: 100%;
   display:table;

   li {
     display: table-cell;
     width: auto;
   }
}

.authortype {

   border-bottom: 1px solid #e2e2e2;
   margin-bottom: 60px;

   &__container {

      &--title {
         font-family: "adobe-caslon-pro",serif;
      }

      &--about {

         margin-top: 20px;

         p {
            font-family: "adobe-caslon-pro",serif;
            margin-bottom: 30px;
         }

      }

   }

}


h3.about_blurb {
    font-family: "adobe-caslon-pro",serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

#about_text p {
   text-align: justify;
}

.about_container {
   margin-bottom: 50px;
}
