//basket
$break-small: 640px;
#menu_hook .contain-to-grid .top-bar .basket {

   border-top: 1px solid #0033a0;
   margin-left: 20px;

   @media screen and (max-width: $break-small) {
      border-top: 0px;
   }

   &__container {

      &--text {
         display: inline-block;

		 @media all and (max-width: 1070px) {
			 display: none;
		 }

		 @media all and (max-width: 768px) {
			 display: inline-block;
		 }
      }

      &--number {
         height: 23px;
         width: 23px;
         background-color: #0033a0;
         border-radius: 50%;
         margin-left: 7px;
         color: white;
         display: inline-block;
         line-height: 29px;
         font-size: 14px;
         text-align: center;

		 @media all and (max-width: 1070px) {
			 margin-left: 0px;
		 }

		 @media all and (max-width: 768px) {
			 margin-left: 7px;
		 }
      }

   }

}

#menu_hook .contain-to-grid .top-bar ul li {
	padding: 40px 15px 0;
	@media all and (max-width: 1140px) {
		padding: 40px 12px 0;
	}
}


#checkout-empty {
   display: none;
}

#discount span {
   font-size: 24px;
   margin-right: 20px;
}


.fc-navigation__mobile {
	.basket {
		.basket__container {
			background-color: #0033a0;
			margin-left: -7.5%;
			width: 115%!important;
			margin-top: 10px;
			padding-left: 7.5%;
			padding-right: 7.5%;

			a {
				color: white;
			}

			.basket__container--number {
				height: 23px;
	            width: 23px;
	            background-color: white;
	            border-radius: 50%;
	            margin-left: 7px;
	            color: #0033a0;
	            display: inline-block;
	            line-height: 24px;
				float: right;
	            font-size: 14px;
	            text-align: center;
			}
		}
	}
}
