.bundle {}

.bundle--books {
	h5 {
		font-family: "adobe-caslon-pro",serif;
		margin-top: 30px;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 18px;
	}
}

.bundle--list {
	list-style: none;
	font-family: "Times New Roman", Times, serif;
    font-size: 15px;

	@media all and (min-width: 1050px) {
		margin-bottom: 15vw;
	}

	li {
		margin-top: 6px;
	}
}
