
.button, .product .options .button, #fitz_input .button {
   margin-right: 1em; /* remove this while use*/
   margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
	*zoom: 1;
	text-align: center;
	text-decoration: none;
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
	vertical-align: middle;
	border: 1px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    background-color: transparent;
   	cursor: pointer;

   &:hover {
	   text-decoration: none;
   }
}

.product .options .button {

}

/* Radius */
.button, .product .options .button {
   border-radius: 2px;
	font-size: 0.9375em;
	padding: 0.7375em 1.375em;
   color: #0033a0;
   border-color: #0033a0;
}

.button.large {
	font-size: 0.95em;
	padding: 0.7625em 2em 0.6em;
}

.button:not(.disabled):hover,  .product .options .button:not(.disabled):hover {
  background: #0033a0;
  color: #fff;
  border-color: #0033a0;
}

#add-to-basket, #out-of-stock {
      width: 100%;
}

.button.disabled{
	cursor: default !important;
}