//checkout
$break-small: 640px;



.checkout-title {
   margin-top: -25px;
   margin-bottom: 10px;
   font-family: "adobe-caslon-pro",serif;
}

#checkout-error,
#checkout-complete {
  display: none;
}

.checkout {
    display: none;

    .button {
      @media screen and (max-width: $break-small) {
          width: 100%;
      }
    }

   span {
      @media screen and (max-width: $break-small) {
          width: 100%;
          display: inline-block;
          position: relative;
          text-align: center;
          margin-bottom: 10px;
      }
   }

   textarea {
       background-repeat: no-repeat;
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        color: rgba(0, 0, 0, 0.75);
        font-family: inherit;
        font-size: 0.77778rem;
        line-height: normal;
        padding: 0.44444rem;
        border-radius: 0;
        overflow: auto;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid #cccccc;
        background-color: #FAFAFA;
		min-height: 80px;
   }

   select, input {
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      background-color: #FAFAFA;
      border-radius: 0;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
      background-position: 100% center;
      background-repeat: no-repeat;
      border-style: solid;
      border-width: 1px;
      border-color: #cccccc;
      color: rgba(0, 0, 0, 0.75);
      font-family: inherit;
      font-size: 0.77778rem;
      line-height: normal;
      padding: 0.44444rem;
      border-radius: 0;
      height: 2.05556rem;
      width: 60%;

   }

   input {
      background-image: none;
   }
   &__heading {
      margin-top: 50px;

      &--type {
         font-size: 15px;
         font-family: "adobe-caslon-pro",serif;

         @media screen and (max-width: $break-small) {
            display: none;
         }
      }
   }

   div {
      font-family: "adobe-caslon-pro",serif;
   }

   &__row {

      background-color: #EDEFF0;
      margin-bottom: 30px;

      div {
         @media screen and (max-width: $break-small) {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
         }
      }

      &--title {
         padding: 30px 30px 0 30px;
         text-transform: uppercase;
         font-family: "adobe-caslon-pro",serif;
         margin-bottom: 10px;
         letter-spacing: 1px;

         @media screen and (max-width: $break-small) {
            padding-top: 20px;

            &:before {
               content: "/Publication";
               display: block;
               font-size: 15px;
               font-family: "adobe-caslon-pro",serif;
               font-weight: bold;
               padding-bottom: 5px;
               text-transform: none;
            }
         }
      }

      &--author {
         padding: 0 30px 30px 30px;
         font-size: 15px;
      }

      &--remove {
         padding: 37px 30px 0 0;

         @media screen and (max-width: $break-small) {

            padding: 0px;

            a {
               margin: auto;
               position: relative;

               &.close:before, &.close:after {
                  left: 7px;
                  bottom: 3px;
               }
            }

         }
      }

      &--quantity {
         padding: 30px 30px 0 0;

            @media screen and (max-width: $break-small) {
               border-top: 2px solid white;
               margin-top: 15px;

               &:before {
                  content: "/Quantity";
                  display: block;
                  font-size: 15px;
                  font-family: "adobe-caslon-pro",serif;
                  font-weight: bold;
                  padding-bottom: 5px;
               }
            }
      }

      &--price {
         padding: 40px 30px 0 0;

         @media screen and (max-width: $break-small) {
            border-top: 2px solid white;
            margin-top: 15px;
            padding-top: 20px;

            &:before {
               content: "/Price";
               display: block;
               font-size: 15px;
               font-family: "adobe-caslon-pro",serif;
               font-weight: bold;
               padding-bottom: 5px;
            }
         }
      }

      &--edition {
         padding: 40px 30px 0 0;

         @media screen and (max-width: $break-small) {
            border-top: 2px solid white;
            margin-top: 15px;
            padding-top: 20px;

            &:before {
               content: "/Edition";
               display: block;
               font-size: 15px;
               font-family: "adobe-caslon-pro",serif;
               font-weight: bold;
               padding-bottom: 5px;
            }
         }
      }

      &--pricelarge {
         padding: 40px 30px 0 30px;
         font-size: 24px;
         text-align: center;
         padding-left: 0px;
         padding-right: 0px;
      }

      .large-2 {
         border-left: 2px solid white;
         height: 100px;
      }


   }

   .close {
     width: 20px;
     height: 20px;
     opacity: 1;
     display: block;
     border-radius: 50%;

     border: 2px solid #0033a0;

   }
   .close:hover {
     opacity: 1;
   }
   .close:before, .close:after {
     position: absolute;
     left: 14px;
     content: ' ';
     height: 10px;
     width: 2px;
     background-color: #0033a0;
     bottom: 5px;
   }
   .close:before {
     transform: rotate(45deg);
   }
   .close:after {
     transform: rotate(-45deg);
   }


   &__shipping {
         @media screen and (min-width: $break-small) {
            float: right;
         }
         margin-bottom: 20px;

         .alert {
            color: white;
         }

         .glow {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 3px rgba(240, 65, 36, 0.6);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: box-shadow;
            transition-property: box-shadow;
            border: 1px solid red;
         }

         .arrow_box {
         	position: relative;
         	background: #f04124;
         	border: 1px solid #de2d0f;
            display: inline-block;
            padding: 10px 15px 5px 10px;
            margin-right: 45px;
            border-radius: 2px;
            opacity:0;

            @media screen and (max-width: $break-small) {
               width: 100%;
            }
         }
         .arrow_box:after, .arrow_box:before {
         	left: 100%;
         	top: 50%;
         	border: solid transparent;
         	content: " ";
         	height: 0;
         	width: 0;
         	position: absolute;
         	pointer-events: none;
         }

         .arrow_box:after {
         	border-color: rgba(240, 65, 36, 0);
         	border-left-color: #f04124;
         	border-width: 5px;
         	margin-top: -5px;
         }
         .arrow_box:before {
         	border-color: rgba(222, 45, 15, 0);
         	border-left-color: #de2d0f;
         	border-width: 6px;
         	margin-top: -6px;
         }


         &--shippingtext {

         }

         select, input, textarea {
            width: 200px;
            margin-right: 20px;
            font-size: 14px;

            @media screen and (max-width: $break-small) {
                margin: auto;
                display: block;
                margin-bottom: 30px;
            }
         }

		 &--address {
			 float: left;
			font-size: 16px;
			color: black;
			padding-right: 5px;
			padding-top: 10px;
		 }

         &--shippingcost {

            #shipping-cost {
               font-size: 24px;
               margin-right: 20px;

               @media screen and (max-width: $break-small) {
                   margin: auto;
                   display: block;
                   margin-top: 20px;
               }
            }

         }

		 .address-bool {
			 &--label {
				 font-size: 16px;
				 color: black;
				 width: 305px;
				 line-height: 20px;
				 text-align: right;
    			margin-right: 20px;
			 }

			 &--radios {
				 margin-top: 10px;
				 float: right;
				 margin-right: 25px;
			 }

			 &--address {
				 opacity: 0;
				 display: none;
			 }

			 &--radio {
				width: 20px;
				border-radius: 10px;
				height: 20px;
				margin: auto;
				margin-bottom: -4px;
    			margin-right: 5px;
				cursor: pointer;

				&:focus {
					outline: none;
				}

				&:checked {
					background-color: #0033a0;
					outline: none;
				}

				&--no {
					margin-left: 20px;
				}
			 }
		 }

   }

}


.total {

   &__stripe {
      width: 150px;

      @media screen and (max-width: $break-small) {
         width: 130px;
         display: none;
      }
   }

   &__text {
      font-family: "adobe-caslon-pro",serif;

      @media screen and (max-width: $break-small) {
         text-align: right;
          margin-top: -5px;
          border-top: 1px solid black;
          padding-top: 25px;
      }
   }

   #total {
      font-size: 40px;
      margin: 0px 30px 0px 50px;
      font-family: "adobe-caslon-pro",serif;

      @media screen and (max-width: $break-small) {
         width: auto;
         margin: 20px;
         float: right;
         margin-top: 0px;
      }
   }

}


#checkout-empty {
   p {
      font-family: "adobe-caslon-pro",serif;
      text-align: center;
      font-size: 18px;
   }

   .button {
      margin: auto;
      width: 180px;
      display: block;
      margin-top: 50px;
      text-decoration: none;
   }
}

#checkout-complete {
   p {
      font-family: "adobe-caslon-pro",serif;
      text-align: center;
      font-size: 18px;
   }
}

#checkout-error {
   p {
      font-family: "adobe-caslon-pro",serif;
      text-align: center;
      font-size: 18px;
   }
}


.subscriptions {
   .button {
      width: 200px;
      display: block;
      margin: auto;
      float: none;
   }
}
