.fc-dropdown {
	position: relative;
	top: 100%;
	width: 115%!important;
	background-color: #f3f3f3!important;
	border-top: none!important;
	z-index: 9;
	left: 0px;
	transition: all .25s ease;
	-webkit-transition: all .25s ease;
	transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	-webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	overflow: hidden;
	margin-left: -7.5%;
	margin-top: 12px;

	@media all and (min-width: 940px) {
		transform: translate3d(-30%, 0, 0);
		-webkit-transform: translate3d(-30%, 0, 0);
		position: absolute;
		max-height: 0px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
		width: 160px!important;
		margin-left: 0;
		margin-top: 0px;
	}
}


.fc-dropdown--parent {
	position: relative;
	cursor: pointer;
	padding-bottom: 0px!important;
	border-bottom: none!important;

	@media all and (min-width: 940px) {
		padding-right: 35px!important;
	}

	> a::after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #043fa5 transparent transparent transparent;
		position: absolute;
		bottom: 22px;
		right: 18px;
	}

	&:hover {
		.fc-dropdown {
			max-height: 200px;
		}
	}
}

.fc-dropdown--item {
	padding: 0px!important;
	text-align: left;
	width: 100%;
	display: block;
	border-top: 1px solid #e8e8e8;
	padding: 12px 0px 12px 6.5%!important;
	border-bottom: none!important;

	@media all and (min-width: 940px) {
		text-align: center;
		padding: 5px 0px 0px!important;
	}

	&:first-child {
		border-top: none;
	}
}
