#footer__container {
	.center {
		width: auto;
	}

	.lowerMenu img {
		width: 45px;
	}

	.lowerMenu .lower_menu li {
		margin: 0px 10px;
	}

	footer ul li {
		font-size: 14px
	}

	footer .address img {
	    width: 140px;
		display: block;
		max-width: inherit;
		margin-bottom: 10px;
	}
}
