.modal {
    width: 350px;
    position: fixed;
    top: 25vh;
    z-index: 99;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    left: 50%;
    margin-left: -175px;
    padding: 0 0 30px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .button {
        margin-right: 0;
        margin-top: 20px;
        &:hover {
            text-decoration: none;
        }
    }

    &__copy {
        padding: 0 30px 0;

        &--save {
            font-family: "adobe-caslon-pro",serif;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1px;
            width: 100%;
            padding-bottom: 10px;
            background-color: #f2f2f2;
            padding: 22px 0 15px;
            display: block;
        }
        &--additional {
            font-weight: bold;
        }
        &--quantity {
            font-weight: bold;
        }
        &--new-price {
            font-weight: bold;
        }
        &--return {
            margin-top: 10px;
            display: block;
            text-align: center;
            font-style: italic;
            font-size: 14px;
            text-decoration: underline;
            font-family: "adobe-caslon-pro",serif;
        }
    }

    &__return {
        display: block;
        font-style: italic;
        font-size: 14px;
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 98;
        background-color: rgba(0,0,0,0.8);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}
