//navigation fixes

header {
   position: fixed;
   top: 0px;
}


.fc-navigation__mobile {
	display: block;
	margin-top: -20px;

	@media all and (min-width: 940px) {
		display: none;
	}

	.title-area {
		width: 255px;
	}

	ul {
		list-style: none;
		margin-bottom: 0px;
	}

	li {
		width: 100%;
		padding: 12px 0px;
		border-bottom: 1px solid #d3d3d3;

		&:last-child {
			border-bottom: none;
		}
	}
}

.fc-navigation__mobile--wrapper {
	max-height: 0px;
	padding-top: 20px;
	z-index: 9;
	background-color: white;
	overflow: hidden;

	&.active {
		max-height: 900px;
		overflow: visible;
	}
}


.fc-navigation--desktop {
	display: none;

	@media all and (min-width: 940px) {
		display: block;
	}
}



#menuToggle
{
  display: block;
  position: absolute;
  top: 28px;
  right: 6.5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #222222;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
// #menuToggle input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #222222;
// }

/*
 * But let's hide the middle one.
 */
// #menuToggle input:checked ~ span:nth-last-child(3)
// {
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }

/*
 * Ohyeah and the last one should go the other direction
 */
// #menuToggle input:checked ~ span:nth-last-child(2)
// {
//   opacity: 1;
//   transform: rotate(-45deg) translate(0, -1px);
// }
