
.number_1 {
	z-index: 9;
	&.number_circle {
	    height: 30px;
	    width: 30px;
	    background-color: #07359a;
	    border-radius: 15px;
	    padding: 3px;
	    position: absolute;
	    margin-left: -10px;
	    left: 50%;
	    text-align: center;
	    font-size: 14px;
	    margin-top: -10px;
		color: #f5eae9;

		span {
			display: block;
		    border: 1px solid #f5eae9;
		    height: 24px;
		    width: 24px;
		    border-radius: 12px;
		    margin-right: 0px;
		    line-height: 27px;
		    font-family: "adobe-caslon-pro",serif
		}
	}
}

.planadditions select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	background-color: #FAFAFA;
	border-radius: 0;
	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
	//background-position: 100% center;
	background-repeat: no-repeat;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	color: rgba(0, 0, 0, 0.75);
	font-family: inherit;
	font-size: 0.77778rem;
	line-height: normal;
	padding: 0.44444rem;
	border-radius: 0;
	height: 2.05556rem;
	width: 60%;

	@media all and (max-width: 767px) {
		width: 70%;
	}
}

.subscriptions .button {
	margin-top: 25px;
}


.planadditions .large-6 .radios {
	margin-top: 25px;
	text-align: center;
	width: 100%;

	div {
		width: auto;
		padding: 0 5%;

		span {
			font-style: italic;
		}
	}

	@media all and (max-width: 767px) {
		width: 100%;
	}
}

.planadditions .large-6 .radios > label {
	margin-right: 10px;
}

.planadditions .large-6 .radios > label:last-child {
	margin-right: 0px;
}

.planadditions .large-6 .planadditions__container * {
	display: inline-block;
	font-size: 16px;
	text-align: center;
}

.subs_panel {

	h4, span, p {
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		opacity: 1;
	}

	&.deactivated {
		h4, span, p {
			opacity: 0.4;
		}

		.button {
			opacity: 0.3;
		}

		&:hover {
			h4, span, p, .button {
				opacity: 1;
			}
		}
	}
}

.planadditions .large-6 {
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	opacity: 0.5;

	@media all and (max-width: 767px) {
		margin-bottom: 60px;
	}
}

.subs_panel.active .button {
	background: #0033a0!important;
	color: #fff!important;
	border-color: #0033a0!important;
}

.planadditions .large-6.active {
	opacity: 1;
}

.planadditions input {
	margin-right: 0.5em;
}

.planadditions .large-6 .planadditions__container > label {
	display: block;
	font-weight: 600;
	font-size: 18px;
	margin: 20px auto 0px;

	@media all and (max-width: 767px) {
		text-align: center;
	}
}

.planadditions__container {
	background-color: #f2f2f2;
	height: auto;
	padding: 40px 20px;
}

#fitzWrapper .planadditions .large-6 .planadditions__container p.small {
	font-size: 13px;
	line-height: 16px;
	margin-top: 15px;
	padding: 0 20px;
}

.planadditions .large-6 label select {
	height: 38px;
	margin-top: 20px;
	width: 100%;
	outline: none;
}

.planadditions .number_circle {
    height: 30px;
    width: 30px;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 3px;
    position: absolute;
    margin-left: -15px;
    text-align: center;
    font-size: 14px;
    margin-top: -53px;
	display: block;
}

.planadditions .large-6:first-child .number_circle {
	left: calc(50% - 5px);

	@media all and (max-width: 767px) {
		left: 50%;
	}
}

.planadditions .large-6:last-child .number_circle {
	left: calc(50% + 5px);

	@media all and (max-width: 767px) {
		left: 50%;
	}
}

.planadditions .middle .number_circle {
	left: 50%;
}

.planadditions .large-6:last-child .button {
	display: block;
	margin: auto;
	width: 200px;
	margin-top: 20px;

	@media all and (max-width: 767px) {
		left: auto;
	}
}

.planadditions .button[disabled="disabled"] {
	background-color: transparent;
	color: #0033a0;
	border-color:#0033a0;
}

.planadditions .number_circle span {
    display: block;
    border: 1px solid #07359a;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin-right: 0px;
    line-height: 27px;
	color: #07359a;
    font-family: "adobe-caslon-pro",serif;
}

.planadditions .button {
	margin: auto;
	line-height: 22px;
    padding-bottom: 6px;
	font-size: 15px!important;
}
