.fc-prize #fitzWrapper {
	padding-top: 40px;
}

.fc-prize__navigation-unit {
	padding: 0 40px 70px;

	.small_line {
		margin: 20px auto;
	}

	a {
		cursor: pointer;
	}
}


.fc-prize__navigation-unit--h2 {
	text-align: center;

	> a {
		font-family: "adobe-caslon-pro", serif;
	    font-weight: 600;
		font-size: 26px;
	    margin-bottom: 20px;
	    width: 100%;
	    text-align: center;
	    letter-spacing: 0px;
	    margin-top: 30px;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}

.fc-prize__navigation-unit--h3 {
	font-family: "adobe-caslon-pro",serif;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 30px;
	width: 100%;
	text-align: center;

	+ a {
		background-color: #efefef;
		display: block;
		margin-bottom: 40px;
	}
}

.fc-prize__navigation-unit--copy {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.fc-prize__navigation-unit--img {
	height: auto;
	width: 100%;
}

.fc-prize__navigation-unit--button {
	margin: auto;
	display: table;
}
