//publication hovers

#fitzWrapper {

   .publication-newest.show-for-small {
      h2 {
            padding-top: 30px;
      }

      a {
         margin-top: 40px;
      }
   }

   .publication {

      background-color: #11141A;
      position: relative;
      display: block;
      margin-bottom: 10px;

      &__overlay {

          position: absolute;
          top: 0px;
          height: 100%;
          background-color: rgba(21, 27, 35, 0.85);
          width: 100%;
          opacity: 0;
		  padding: 20px;

          p {
             text-align: center;
             font-family: "adobe-caslon-pro",serif;
             color: white;
             padding-bottom: 0px;

             opacity: 0;
             padding-top: 5px;
          }


         &--title {
            margin-top: 40%;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 5px;
         }

         &--author {
            &::after {
               content: "";
               display: block;
               width: 20px;
               height: 1px;
               background-color: white;
               margin: 20px auto;
            }
         }

         &--prices {
            font-size: 18px;
         }

      }

   }

}


.product .info {
    margin-top: 20px;
    margin-bottom: 0px;
}

.product .info:last-child {
    margin-top: 0px;
    margin-bottom: 30px;
}
