//shop layout css

.lowerMenu .lower_menu li {
   display: inline-block;
   float: none;
   margin: 10px;
}

.lowerMenu .lower_menu {
   text-align: center;
}

.lowerMenu .center {
   width: 340px;
}


.publication-featured {

   padding-bottom: 40px;
   border-bottom: 1px solid #E2E4E5;

   h2,h3,p {
      font-family: "adobe-caslon-pro",serif;
   }

   a.img_anchor {
      width: 100%;
      display: block;

      img {
         width: 100%;
      }
   }

   h2 {
      margin-top: 70px;
      text-transform: uppercase;
   }

   .button {
      text-decoration: none;
   }

   i {
      font-size: 7px;
      font-weight: 100;
      margin-left: 5px;
   }
}

.publication-newest {

   padding-top: 40px;

   p {
      margin: 0px;
   }

   h2 {
      font-family: "adobe-caslon-pro",serif;
      font-size: 28px;
   }

   a {
      font-family: "adobe-caslon-pro",serif;
      font-size: 14px;
      font-style: italic;
      font-size: 16px;
      margin-top: 12px;
      display: block;
      color: #0033a0;
   }

   i {
      font-size: 7px;
      font-weight: 100;
      margin-left: 5px;
   }

}


#fitz_input .button {
   background-color: transparent;
   border-color: white;
   text-transform: none;
   font-weight: normal;
   line-height: 5px;

   &:hover {
      background-color: white;
      color: #11141A;
   }
}

#fitz_input input[type="email"] {
   border-radius: 2px;
   border-width: 2px;
   color: #999999;
   border-color: #999999;
   text-align: center;
   height: 2.4em;
   outline: none;

   &:focus {
      box-shadow: none;
      outline: none;
   }
}
